.blog-section {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .blog-slider .blog-card {
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .blog-content {
    padding: 10px 0;
  }
  
  .blog-date {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }
  
  .blog-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 20px;
  }
  
  .blog-read-more {
    color: #007bff;
    text-decoration:none;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
  }
  